.text-holder{
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(238, 238, 238);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(61, 126, 154);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(61, 126, 154);
  border-left-style: solid;
  border-left-width: 5px;
  border-right-color: rgb(61, 126, 154);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(61, 126, 154);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
  counter-reset: thecodenumbering;
  direction: ltr;
  display: block;
  font-family: consolas, monaco, "Andale Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  height: 500px;
  letter-spacing: -0.04447999969124794px;
  line-height: 24px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 15px;
  /*padding-left: 60.79999923706055px;*/
  padding-right: 15px;
  padding-top: 15px;
  position: relative;
  tab-size: 4;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  width: 1399px;
  word-break: normal;
  word-spacing: 0px;
  word-wrap: normal;
}

code{
    counter-increment: thecodenumbering;
}

code:before{
    color: rgb(130, 132, 134);
    padding-right: 5px;
    content: counter(thecodenumbering);
}

pre {
  background-color: rgb(245, 245, 245);
}

.var{
  color: rgb(58, 116, 173);
}

.func{
  color: rgb(58, 116, 173);
}

.keyword {
  color: rgb(58, 125, 106);
}

.num {
  color: rgb(109, 73, 133);
}

.string {
  color: rgb(167, 98, 45);
}

.comment {
  color: rgb(130, 132, 134);
}















